apispec==5.2.2; python_version >= "3.7"
atomicwrites==1.4.1; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
bcrypt==3.2.2; python_version >= "3.6"
cffi==1.15.1; python_version >= "3.6"
click==8.1.3; python_version >= "3.7"
colorama==0.4.5; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0" and platform_system == "Windows"
dnspython==2.2.1; python_version >= "3.6" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.5.0")
email-validator==1.2.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.5.0"
factory-boy==3.2.1; python_version >= "3.7"
faker==13.15.0; python_version >= "3.6"
flask-apispec==0.11.0; python_version >= "3.6"
flask-classful-apispec==0.1.8; python_version >= "3.6"
flask-classful==0.14.2
flask-cors==3.0.10
flask-marshmallow==0.14.0
flask-mongoengine==1.0.0
flask-swagger-ui==4.11.1
flask-wtf==1.0.1; python_version >= "3.6"
flask==2.1.2; python_version >= "3.7"
funcy==1.17
idna==3.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.5.0"
importlib-metadata==4.12.0; python_version < "3.10" and python_version >= "3.7"
inflection==0.5.1; python_version >= "3.7"
iniconfig==1.1.1; python_version >= "3.7"
itsdangerous==2.1.2; python_version >= "3.7"
jinja2==3.1.2; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
marshmallow==3.17.0; python_version >= "3.7"
mongoengine==0.24.1; python_version >= "3.6"
mongomock==4.1.2
packaging==21.3; python_version >= "3.7"
pluggy==1.0.0; python_version >= "3.7"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyjwt==2.4.0; python_version >= "3.6"
pymongo==4.1.1; python_full_version >= "3.6.2" and python_version >= "3.6"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
pytest-env==0.6.2
pytest-factoryboy==2.5.0; python_version >= "3.7"
pytest-flask==1.2.0; python_version >= "3.5"
pytest==7.1.2; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pyyaml==6.0; python_version >= "3.7"
sentinels==1.0.0
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
tomli==2.0.1; python_version >= "3.7"
typing-extensions==4.3.0; python_version >= "3.7"
webargs==8.1.0; python_version >= "3.7"
werkzeug==2.1.2; python_version >= "3.7"
wtforms==3.0.1; python_version >= "3.7"
zipp==3.8.0; python_version < "3.10" and python_version >= "3.7"
